.text-component {
    background-color: rgb(228, 134, 134);
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.text-present {
    width: 40%;
}

.text-present p {
    font-family: auto;
    font-size: 2rem;
    text-align: justify;
}
.text-present div {
    padding-top: 20px;
    font-family: auto;
    font-size: 2rem;
    text-align: start;
    width: 70%;
}

@media screen and (max-width: 600px) {
    .text-component {
        background-color: rgb(252, 180, 230);
        width: 100vw;
        height: 100vh;
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .text-present {
        width: 80%;
        height: 90%;
    }
    
    .text-present p {
        font-family: auto;
        font-size: 1.4rem;
        text-align: justify;
    }
    .text-present div {
        padding-top: 20px;
        font-family: auto;
        font-size: 1.4rem;
        text-align: start;
        width: 70%;
    }
}